@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?2865792");
  src: url("../fonts/fontello.eot?2865792#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?2865792") format("woff"), url("../fonts/fontello.ttf?2865792") format("truetype"), url("../fonts/fontello.svg?2865792#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*	==================================================
	Footer
	==================================================  */
/* line 8, ../sass/base/_footer.scss */
footer .link-social {
  -moz-transition: color 400ms ease;
  -o-transition: color 400ms ease;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}
/* line 28, ../sass/base/_footer.scss */
footer .link-social.fb:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  content: "";
}
/* line 28, ../sass/base/_footer.scss */
footer .link-social.in:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  content: "";
}
/* line 28, ../sass/base/_footer.scss */
footer .link-social.yt:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  content: "";
}
/* line 28, ../sass/base/_footer.scss */
footer .link-social.ln:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  content: "";
}
/* line 28, ../sass/base/_footer.scss */
footer .link-social.tw:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  content: "";
}

/*	==================================================
	Header
	==================================================  */
/* line 10, ../sass/base/_header.scss */
.header {
  -moz-box-shadow: 0 2px 6px -1px #000;
  -webkit-box-shadow: 0 2px 6px -1px #000;
  box-shadow: 0 2px 6px -1px #000;
  background-color: #faff8d;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* line 18, ../sass/base/_header.scss */
.wrap-header-content {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
/* line 24, ../sass/base/_header.scss */
.wrap-header-content form {
  -webkit-flex: 1;
  flex: 1;
}

/* line 31, ../sass/base/_header.scss */
header .wrap-toggle-toggle-header {
  display: none;
}
/* line 35, ../sass/base/_header.scss */
header .menu {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
/* line 42, ../sass/base/_header.scss */
header .menu li {
  -moz-transition: background-color 400ms ease, padding 400ms ease, min-width 400ms ease;
  -o-transition: background-color 400ms ease, padding 400ms ease, min-width 400ms ease;
  -webkit-transition: background-color 400ms ease, padding 400ms ease, min-width 400ms ease;
  transition: background-color 400ms ease, padding 400ms ease, min-width 400ms ease;
  display: inline-block;
  margin-left: -4px;
  max-width: 20%;
  min-width: 20%;
  position: relative;
  vertical-align: middle;
}
/* line 57, ../sass/base/_header.scss */
header .menu li:hover .sub-menu {
  max-height: 100vh;
}
/* line 70, ../sass/base/_header.scss */
header .menu li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/*	==================================================
	IE fixes
	==================================================  */
/* line 6, ../sass/base/_ie.scss */
.ie8-disclaimer {
  display: none;
}

/* line 10, ../sass/base/_ie.scss */
.lte9 .ie8-disclaimer {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  bottom: 1em;
  display: block;
  left: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10;
}

/*	==================================================
	Different Perspective Logo/Login
	==================================================  */
/* line 11, ../sass/partials/_dp.scss */
#dp {
  -moz-transition: background-position 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  -o-transition: background-position 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  -webkit-transition: background-position 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  transition: background-position 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  background: url("../img/powered.png") no-repeat;
  background: url("../img/powered.svg") no-repeat;
  background-position: center top;
  background-size: auto 200%;
  display: block;
  font-family: inherit;
  font-size: .75em;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width: 230px;
}
/* line 27, ../sass/partials/_dp.scss */
#dp .name {
  display: none;
}
/* line 30, ../sass/partials/_dp.scss */
body.lte9 #dp .name {
  display: inline;
}
/* line 35, ../sass/partials/_dp.scss */
#dp a {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: color 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415), -moz-transform 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  -o-transition: color 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415), -o-transform 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  -webkit-transition: color 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415), -webkit-transform 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  transition: color 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415), transform 250ms cubic-bezier(0.52, -0.03, 0.51, 1.415);
  color: #fff;
  display: inline-block;
  height: 100%;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 25%;
  vertical-align: middle;
  width: 5em;
}
/* line 53, ../sass/partials/_dp.scss */
#dp #dp-powered {
  padding-right: 36px;
  text-align: right;
}
/* line 58, ../sass/partials/_dp.scss */
#dp #dp-login {
  padding-left: 36px;
  text-align: left;
}
/* line 64, ../sass/partials/_dp.scss */
#dp a:hover {
  color: #bc6c50;
}

/* line 69, ../sass/partials/_dp.scss */
#dp:hover {
  background-position: center bottom;
}
/* line 72, ../sass/partials/_dp.scss */
#dp:hover a {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/**********************************
Google Maps
***********************************/
/* line 7, ../sass/partials/_google-map.scss */
.google-map-infowindow {
  min-width: 10em;
  text-align: center;
}
/* line 11, ../sass/partials/_google-map.scss */
.google-map-infowindow p {
  font-weight: bold;
  display: block;
}
/* line 16, ../sass/partials/_google-map.scss */
.google-map-infowindow a {
  font-size: 10px;
  text-decoration: none;
  display: block;
  width: 100%;
}

/*	==================================================
	Hamburger Menu
	==================================================  */
/* line 9, ../sass/partials/_menu-bars.scss */
#hamburger-menu, .hamburger-menu {
  width: 2em;
  height: 2em;
  position: absolute;
  color: #fff;
  right: 80px;
  top: 46px;
  display: block;
  z-index: 2;
}
/* line 22, ../sass/partials/_menu-bars.scss */
#hamburger-menu.clicked .menubars, .hamburger-menu.clicked .menubars {
  background-color: rgba(255, 255, 255, 0);
}
/* line 25, ../sass/partials/_menu-bars.scss */
#hamburger-menu.clicked .menubars:before, .hamburger-menu.clicked .menubars:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 28px;
}
/* line 30, ../sass/partials/_menu-bars.scss */
#hamburger-menu.clicked .menubars:after, .hamburger-menu.clicked .menubars:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 28px;
}
/* line 38, ../sass/partials/_menu-bars.scss */
#hamburger-menu .menubars, .hamburger-menu .menubars {
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  width: 20px;
  height: 4px;
  background: green;
  position: absolute;
  right: 0;
}
/* line 48, ../sass/partials/_menu-bars.scss */
#hamburger-menu .menubars:before, .hamburger-menu .menubars:before {
  -moz-transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, -moz-transform 0.4s ease;
  -o-transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, -o-transform 0.4s ease;
  -webkit-transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, transform 0.4s ease;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  display: block;
  content: "";
  background-color: green;
  top: -10px;
  width: 20px;
  height: 4px;
  position: absolute;
}
/* line 65, ../sass/partials/_menu-bars.scss */
#hamburger-menu .menubars:after, .hamburger-menu .menubars:after {
  -moz-transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, -moz-transform 0.4s ease;
  -o-transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, -o-transform 0.4s ease;
  -webkit-transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, right 0.4s ease, bottom 0.4s ease, transform 0.4s ease;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  display: block;
  content: "";
  background: green;
  bottom: -10px;
  width: 20px;
  height: 4px;
  position: absolute;
}

/* line 84, ../sass/partials/_menu-bars.scss */
.hamburger {
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  width: 32px;
  height: 26px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
/* line 93, ../sass/partials/_menu-bars.scss */
.hamburger span {
  position: absolute;
  background-color: #fff;
  height: 5px;
  width: 100%;
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
}
/* line 100, ../sass/partials/_menu-bars.scss */
.hamburger span:nth-child(2) {
  top: 7.5px;
}
/* line 104, ../sass/partials/_menu-bars.scss */
.hamburger span:last-child {
  top: 15.5px;
}
/* line 109, ../sass/partials/_menu-bars.scss */
#header.toggled .hamburger {
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
/* line 112, ../sass/partials/_menu-bars.scss */
#header.toggled .hamburger span:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 116, ../sass/partials/_menu-bars.scss */
#header.toggled .hamburger span:nth-child(2) {
  height: 2.5px;
  -moz-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
/* line 121, ../sass/partials/_menu-bars.scss */
#header.toggled .hamburger span:last-child {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

/*	==================================================
	About
	==================================================  */
/*	==================================================
	Blog
	==================================================  */
/* line 6, ../sass/pages/_blog.scss */
.container-categories {
  -moz-transition: max-height 400ms ease, padding 400ms ease;
  -o-transition: max-height 400ms ease, padding 400ms ease;
  -webkit-transition: max-height 400ms ease, padding 400ms ease;
  transition: max-height 400ms ease, padding 400ms ease;
  clear: both;
  display: block;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
/* line 19, ../sass/pages/_blog.scss */
.container-categories.toggled {
  max-height: 10em;
  max-height: 100vh;
  padding: .5em 0;
}

/* line 26, ../sass/pages/_blog.scss */
.link-category {
  -moz-transition: background-color 400ms ease;
  -o-transition: background-color 400ms ease;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  color: #fff;
  display: inline-block;
  font-size: 1.875em;
  font-weight: 500;
  margin: .5em;
  padding: .5em;
  text-decoration: none;
}

/*	==================================================
	Contact
	==================================================  */
/*	==================================================
	404 Page
	==================================================  */
/*	==================================================
	Home
	==================================================  */
@-moz-keyframes fadeInUp {
  0% {
    -moz-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/* line 11, ../sass/pages/_home.scss */
.container-home {
  padding: 5.5em 0 3em;
}
/* line 14, ../sass/pages/_home.scss */
.container-home md-list {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 19, ../sass/pages/_home.scss */
.container-home md-list-item {
  -webkit-flex: 1 1 420px;
  flex: 1 1 420px;
  -moz-animation: fadeInUp 400ms ease;
  -webkit-animation: fadeInUp 400ms ease;
  animation: fadeInUp 400ms ease;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-0 {
  animation-delay: 0ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-1 {
  animation-delay: 150ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-2 {
  animation-delay: 300ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-3 {
  animation-delay: 450ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-4 {
  animation-delay: 600ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-5 {
  animation-delay: 750ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-6 {
  animation-delay: 900ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-7 {
  animation-delay: 1050ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-8 {
  animation-delay: 1200ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-9 {
  animation-delay: 1350ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-10 {
  animation-delay: 1500ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-11 {
  animation-delay: 1650ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-12 {
  animation-delay: 1800ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-13 {
  animation-delay: 1950ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-14 {
  animation-delay: 2100ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-15 {
  animation-delay: 2250ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-16 {
  animation-delay: 2400ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-17 {
  animation-delay: 2550ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-18 {
  animation-delay: 2700ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-19 {
  animation-delay: 2850ms;
}
/* line 26, ../sass/pages/_home.scss */
.container-home md-list-item.index-20 {
  animation-delay: 3000ms;
}
/* line 32, ../sass/pages/_home.scss */
.container-home md-list-item.ng-enter {
  /* standard transition code */
}
/* line 39, ../sass/pages/_home.scss */
.container-home md-list-item.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
}
/* line 48, ../sass/pages/_home.scss */
.container-home md-list-item.ng-enter.ng-enter-active {
  /* standard transition styles */
}

/*	==================================================
	Single
	==================================================  */
/* line 10, ../sass/pages/_single.scss */
.container-single .social-bar .label {
  display: block;
  font-size: 1.875em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 18, ../sass/pages/_single.scss */
.container-single .social-bar .link-social {
  -moz-transition: height 400ms ease, width 400ms ease;
  -o-transition: height 400ms ease, width 400ms ease;
  -webkit-transition: height 400ms ease, width 400ms ease;
  transition: height 400ms ease, width 400ms ease;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  display: inline-block;
  height: 2em;
  margin: .5em;
  vertical-align: middle;
  width: 2em;
}
/* line 35, ../sass/pages/_single.scss */
.container-single .social-bar .link-social.tw {
  background-image: url("../img/icon-twitter.svg");
}
/* line 38, ../sass/pages/_single.scss */
.container-single .social-bar .link-social.ln {
  background-image: url("../img/icon-linkedin.svg");
}
/* line 41, ../sass/pages/_single.scss */
.container-single .social-bar .link-social.fb {
  background-image: url("../img/icon-fb.svg");
}
/* line 44, ../sass/pages/_single.scss */
.container-single .social-bar .link-social.gg {
  background-image: url("../img/icon-google.svg");
}
/* line 47, ../sass/pages/_single.scss */
.container-single .social-bar .link-social.in {
  background-image: url("../img/icon-instagram.svg");
}
/* line 56, ../sass/pages/_single.scss */
.container-single .wrap-nav-links {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: block;
  overflow: hidden;
  padding: 2em 0 0;
}
/* line 63, ../sass/pages/_single.scss */
.container-single .wrap-nav-links a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  max-width: 150px;
  padding: .75em 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 45%;
}
/* line 76, ../sass/pages/_single.scss */
.container-single .wrap-nav-links a[rel='prev'] {
  float: left;
}
/* line 80, ../sass/pages/_single.scss */
.container-single .wrap-nav-links a[rel='next'] {
  float: right;
}
